/* https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557  */ 
/* https://coolors.co/0081a7-00afb9-fdfcdc-fed9b7-f07167 */ 

/*
  Colors I like 
  #648381 steel teal 
*/ 

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --bg-header: #6D2BF9;
  --bg-medium: #00AFB9; 
  --bg-accent: #F07167; /* unused */ 
  --bg-light: #ffcd00;  /* unused */ 
  --bg-hover: #fad0ab;
  --bg-dark: #46474b;
  --bg-light-grey: #FCFCFC;
  --bg-white: white;
  --bg: #f3f3f3;
  --text-light: #dadce1;
  --text-accent: #6b6dd1;
  --text-accent-secondary: #f49f54;
  --text-highlight: #0086eb;
  --text-dark: #46474b;
  --nav-size: 60px;
  --border: 1px solid #48a4d4;
  --border2: 1px solid #484a4d;
  --shadow: #999ca1;
  --border-radius: 8px;
  --speed: 500ms; 
}

#root {
  height:100vh; 
}

html {
  height:100vh; 
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: var(--bg);
  height: 100vh; 
}

hr {
  background-color: var(--bg-medium);
  margin-bottom: 1rem;
}

b {
  color: var(--text-accent)
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-dark);
  text-decoration: none;
}
