.container {
    display: flex; 
    margin-top: 1rem;
    margin-left: 1rem;
}


.left-module{
    position: relative; 
    padding: 10px;
    margin: 2px;
    width: 25%;
    border-radius: var(--border-radius);
    background-color: var(--bg-light2);
}

.left-card {
    color: var(--text-dark);
    text-align: left;
    position: relative;
    border-radius: var(--border-radius);
    background-color: var(--bg-light);
    padding: 2rem; 
    margin: 0.5rem;
}

.left-card h1 {
    color: var(--text-accent)
}

.center-module {
    position: relative; 
    padding: 10px;
    padding-left: 4%;
    margin: 2px;
    width: 60%;
    display: flex; 
    flex-direction: column;
}
