.container {
    --sidebar-collapsed-width: 57px;
    --sidebar-expanded-width: 330px; 
    display: flex; 
    flex-direction: row;
    height:100%;
}


.left-module{
    position: relative; 
    padding-bottom: 10px;
    width:var(--sidebar-collapsed-width);
    /* background-color: var(--bg-light-grey); */
    background-color:var(--bg-light-grey);
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    transition: 500ms; 
}

.left-module:hover{
    width:var(--sidebar-expanded-width);
}


.center-module {
    position: relative; 
    padding: 10px;
    padding-left: 4%;
    margin: 2px;
    width: 60%;
    display: flex; 
    flex-direction: column;
}
