
.player-card {
    box-sizing: border-box;
    color: var(--text-dark);
    text-align: left;
    position: relative;
    border-radius: calc(var(--border-radius)*2.5);
    /* background-color: var(--bg-white); */
    background-color:var(--bg-light-grey);
    margin-top: 0.2rem;
    width: 100%;
    height: 60px;
    padding: 2px 4px; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.player-card-select {
    background-color: var( --bg-hover);
    transition: var(--speed);
}

.player-card:hover {
    background-color: var( --bg-hover);
}

.player-card h1 {
    color: var(--text-accent);
    margin-bottom: 0rem;
}


.player-pic {
    --button-size: calc(var(--nav-size) * 0.4 );
    width: calc(var(--button-size));
    height: calc(var(--button-size));
    /* background-color: #484a4d; */
    background-color: #f49f54;
    border-radius: 32px;
    padding: 8px;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms; 
}


.player-text {
    padding: 0.4rem;
    min-width: 230px;
}